@tailwind base;
@tailwind components;
@tailwind utilities;

.active-index-item {
  /* @apply font-bold text-green-600; */
  font-weight: bold;
  color: #70b570;
}

/* Overriding Tailwind's defaults */
@layer base {
  img,
  svg {
    display: inline;
  }
}
