.hits {
  max-height: 60vh;
  overflow-y: auto;
}

/* The highlighted text */

.highlight :global .ais-Highlight-highlighted {
  background-color: #c3e4c3;
}

/* The Algolia banner */

.banner :global .ais-PoweredBy-link {
  margin-left: 0.4rem;
}

.banner :global .ais-PoweredBy-logo {
  width: 5rem;
}
